/* HEADER */
#header {
  width: 90vw;
  
  margin: 3% 3% 0 3%;
  
  padding-bottom: 2%;
  
  h1 {
      margin-left: 17%;

      @media @mobile {
        .flex(center, column, center, nowrap);
        width: 70%;
      }

      .keyframes(fade-in;{
        0% { opacity: 0; }
        100% { opacity: 1; }
        });
    
      .animation(fade-in 1s linear infinite alternate)
  }

  .flex(space-between, row, baseline, wrap);

  @media @mobile {
    .flex(center, column, center, nowrap);
    text-align: center;
  }
}
  
/* HERO SECTION */
#hero {
  margin: 0 18% 2% 18%;

.flex(center, row, center, wrap);
  
  @media @mobile {
    width: 90%;
    margin: 0 20% 2% 5%;

    .flex(center, column, center, nowrap);
  }

}

/* WELCOME SECTION */
.welcome {
margin: 2% 18% 0 18%;

p {
    border-bottom: 2px silver dashed;
    padding-bottom: 2%;
}

@media @mobile {
  margin: 2% 5%;
}
}

.home {

.content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  
  
  .text-content {
    width: 48%;
    padding-right: 1%;

    @media @mobile {
      width: 100%;
    }
  }

  .img-content {
    width: 48%;
    padding-left: 1%;

    img {
      border-radius: 10px;

      @media @mobile {
        width: 100%;
      }
    }

    @media @mobile {
      width: 100%;
    }
  }

  @media @mobile {
    width: 90%;
    margin: 5% 5%;
    .flex(center, column, center, wrap);
  }
}

.inverse-content {
  padding-bottom: 30px;
  border-bottom: 2px dashed @navigation-border;

  .text-content {
    padding-left: 1%;
    padding-right: 0;

    @media @mobile {
      width: 100%;
    }
  }

  .img-content {
    padding-right: 1%;
    padding-left: 0;

    @media @mobile {
      width: 100%;
    }
  }

  @media @mobile {
    width: 90%;
    margin: 5% 5%;
    .flex(center, column-reverse, center, wrap);
  }
}

.content-destination {
  width: 75%;
  margin: 0 auto 30px;

  img {
    border-radius: 10px;

    @media @mobile {
      width: 100%;
    }
  }

  @media @mobile {
    width: 90%;
    margin: 2% 5% 2% 5%;
  }
}

.content-pick {
  padding-top: 30px;
  border-top: 2px dashed @navigation-border;
  display: flex;
  justify-content: space-between;

  .destination {
    width: 30%;
    margin-bottom: 30px;

    @media @mobile {
      width: 80%;
      margin: 0 20% 10% 20%;
    }

a {
  .custom-btn(white,teal, 10px);

  .flex(center, column, center, wrap);
}
  }

  @media @mobile {
    width: 90%;
    margin: 5% 5%;
    .flex(center, column, center, wrap);
  }
}
}